<!DOCTYPE html>
<html>

<head>
    <title>Innov Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<table style="width:100%;max-width: 600px; margin: 0 auto;font-family: 'Poppins', sans-serif;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="background: #fff; text-align: center;">
            <img src="http://localhost:5500/api/email-template/images/enncyst_logo.png" width="186" height="91" alt="Logo" />
        </td>
    </tr>
    <tr>
        <td style="background: #522D80;padding: 40px 0; text-align: center; color: #fff;">
            <img src="images/email-icon.png" width="182" height="32" alt="Email Icon"/>
            <strong style="display: block; margin-top: 4px; text-align: center;text-transform: uppercase;font-weight: 600;font-size: 14px;line-height: 21px">Thanks for signing up</strong>
            <strong style="display: block; text-align: center;text-transform: capitalize;font-weight: 700;font-size: 24px;line-height: 36px">Verify Your E-mail Address</strong>
        </td>
    </tr>
    <tr>
        <td style="background:#fff; padding:35px 0 25px;text-align: center;">
            <p style="font-weight: 300; font-size: 14px;line-height: 21px;color: #000000; padding: 0 50px"><strong style="color: #000000;font-weight: 500;font-size: 20px;line-height: 30px;display:block;margin-bottom:10px;">Hi,</strong>You're almost ready to get started. Please click on the button below to verify your email address and enjoy exclusive cleaning services with us!</p>
            <a style="display:inline-block;background: #19A6EC;border-radius: 5px;font-size: 14px;font-weight: 600;line-height: 21px;color: #FFFFFF;text-transform: uppercase;padding:10px 15px;margin: 30px 0;">OTP FOR PHONE: <%= otp.phoneOtp%></a>
            <p style="font-weight: 300; font-size: 14px;line-height: 21px;color: #000000;margin-top: 0;">Thanks,<br/>
            'The Company Team</p>
        </td>
    </tr>
    <tr style="background: #E5EAF5;">
        <td style=" text-align:center;padding:30px 0 25px;">
            <h3 style="color: #522D80;font-weight: 500;font-size: 16px;line-height: 24px;text-transform: capitalize;margin-bottom:7px;letter-spacing: 0.5px;">Get in touch</h3>
            <p style="font-weight: 300; font-size: 13px;line-height: 21px;color: #000000;margin-bottom:40px;">+91 98865 63893<br/>
            info@yourgmail.com</p>
            <div>
                <a style="display: inline-block;vertical-align: middle;margin:0 5px;" href="#"><img src="images/insta-icon.png" width="29" height="29" alt="Instagram" /></a>
                <a style="display: inline-block;vertical-align: middle;margin:0 5px;" href="#"><img src="images/fb-icon.png" width="29" height="29" alt="Instagram" /></a>
                <a style="display: inline-block;vertical-align: middle;margin:0 5px;" href="#"><img src="images/twitter-icon.png" width="28" height="24" alt="Instagram" /></a>
                <a style="display: inline-block;vertical-align: middle;margin:0 5px;" href="#"><img src="images/linkedin-icon.png" width="29" height="29" alt="Instagram" /></a>
                <a style="display: inline-block;vertical-align: middle;margin:0 5px;" href="#"><img src="images/youtube-icon.png" width="29" height="21" alt="Instagram" /></a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background: #522D80;text-align: center;color: #FFFFFF;text-transform: capitalize;line-height: 24px;font-size: 16px;font-weight: 500;padding:7px 0;">Copyrights &copy; Company All Rights Reserved</td>
    </tr>
</table>

</body>

</html>