<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Inncyst</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #3498db;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        section {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #3498db;
        }

        p {
            line-height: 1.6;
        }

        a {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to Inncyst</h1>
    </header>

    <section>
        <h2>Congratulations <%= user.name%>!</h2>
        <p>Congratulations and welcome to Inncyst – your gateway to showcasing your talents, skills, and projects to the world! We are thrilled to have you on board as a part of our growing community of bright and ambitious students.</p>

        <p>At Inncyst, we understand the importance of highlighting your unique abilities and accomplishments...</p>

        <p>To get started, log in to your account <a href="[link to login]">here</a> and complete your profile. Don't forget to upload your resume and portfolio for a more comprehensive showcase of your capabilities.</p>

        <p>If you have any questions or need assistance, feel free to reach out to our support team at <a href="mailto:contactus@innovcatalyst.in">contactus@innovcatalyst.in</a>. We are here to help you make the most of your experience on Inncyst.</p>

        <p>Thank you for choosing Inncyst.com to kickstart your career journey. We can't wait to see all the amazing things you'll achieve!</p>

        <button>Explore Inncyst</button>

        <footer>
            <p>Best regards,</p>
            <p>Dr. Ramakrishna Murthy K,</p>
            <p>Director, Inncyst</p>
            <p>Email: <a href="mailto:rkmurthy@innovcatalyst.in">rkmurthy@innovcatalyst.in</a></p>
        </footer>
    </section>
</body>
</html>
